/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  margin: 5% 20% 30% 20%;
  background-color: gray;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
